* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

.menu {
  position: fixed;
  width: 100%;
  background-color: #313131;
  height: 8%;
  padding: 0 20px;
  -webkit-box-shadow: 3px 3px 6px black;
          box-shadow: 3px 3px 6px black;
  z-index: 2;
}

.menu__btn {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__btn.open .menu__span {
  background-color: transparent;
}

.menu__btn.open .menu__span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform: translate(35px -35px);
          transform: translate(35px -35px);
}

.menu__btn.open .menu__span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform: translate(35px 35px);
          transform: translate(35px 35px);
}

@media (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}

.menu__span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #0d8c5b;
  border-radius: 5px;
}

.menu__span::before, .menu__span::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #0d8c5b;
  border-radius: 5px;
}

.menu__span::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.menu__span::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.menu__logo {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #3C3C3C;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #0d8c5b;
  font-family: "Pacifico", cursive;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 200;
  z-index: 3;
}

@media (min-width: 768px) {
  .menu__logo {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.menu__nav {
  position: fixed;
  top: 8%;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100%;
  background-color: #313131;
  -webkit-transition: .5s;
  transition: .5s;
  border-top: 1px solid #1e1e1e;
}

@media (min-width: 768px) {
  .menu__nav {
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: transparent;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  text-align: center;
  padding: 15px 0;
}

@media (min-width: 768px) {
  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 10px;
  }
}

.menu__item {
  line-height: 30px;
}

.menu__link {
  display: block;
  font-size: 1.6rem;
  line-height: 5rem;
  color: #DCDCDC;
  text-shadow: 0.5px 0.5px 2px;
  letter-spacing: 1.5px;
  text-decoration: none;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .menu__link {
    font-size: 1.4rem;
    padding: 0 10px;
  }
}

@media (min-width: 1024px) {
  .menu__link {
    padding: 0 20px;
  }
}

.menu__link::after {
  content: "";
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

@media (min-width: 768px) {
  .menu__link::after {
    -webkit-transform: translate(-100%, -10px);
            transform: translate(-100%, -10px);
  }
}

.menu__link.active::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #0d8c5b;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  border-radius: 25px;
}

@media (min-width: 768px) {
  .menu__link.active::after {
    width: 100%;
  }
}

.menu__nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 4px 4px 8px black;
          box-shadow: 4px 4px 8px black;
}

.home {
  position: relative;
  top: 8%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg1a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0 25px;
}

.home__bg-filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.home__bg-filter::before {
  content: "";
  position: absolute;
  top: 8%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 150px solid #0d8c5b;
  border-right: 250px solid transparent;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .home__bg-filter::before {
    border-top: 250px solid #0d8c5b;
    border-right: 350px solid transparent;
  }
}

.home__bg-filter::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0;
  width: 0;
  border-bottom: 150px solid #0d8c5b;
  border-left: 250px solid transparent;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .home__bg-filter::after {
    border-bottom: 250px solid #0d8c5b;
    border-left: 350px solid transparent;
  }
}

.home__welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #DCDCDC;
  min-width: 300px;
  text-shadow: 1px 1px 4px #0d8c5b;
}

@media (min-width: 768px) {
  .home__welcome {
    min-width: 500px;
  }
}

.home__h1 {
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}

@media (min-width: 768px) {
  .home__h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1380px) {
  .home__h1 {
    font-size: 5rem;
  }
}

.home__span {
  color: #0d8c5b;
  font-weight: 600;
  text-shadow: 1px 1px 2px #DCDCDC;
}

.home__line {
  display: block;
  height: 3px;
  width: auto;
  background-color: #0d8c5b;
  margin-top: 18px;
  margin-left: 50px;
  margin-right: 100px;
  -webkit-box-shadow: 2px 2px 6px gray;
          box-shadow: 2px 2px 6px gray;
}

.home__line:nth-last-of-type(1) {
  margin: 16px 50px 16px 100px;
}

@media (min-width: 768px) {
  .home__line {
    margin-top: 20px;
  }
}

.home__p {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .home__p {
    font-size: 2.6rem;
  }
}

@media (min-width: 1380px) {
  .home__p {
    font-size: 3rem;
  }
}

.about-me {
  position: relative;
  background-color: #1e1e1e;
  color: #DCDCDC;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .about-me {
    text-align: auto;
  }
}

.about-me__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 70%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .about-me__wrap {
    display: block;
    position: relative;
    max-width: 80%;
    margin: auto;
    min-height: 40vh;
  }
}

@media (min-width: 1024px) {
  .about-me__wrap {
    max-width: 70%;
    min-height: 30vh;
  }
}

.about-me__photo-wrap {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background-image: url(../img/ja1.JPG);
  background-position: center;
  background-size: cover;
  margin: 70px auto 40px;
}

@media (min-width: 768px) {
  .about-me__photo-wrap {
    position: absolute;
    top: 20%;
    margin: 0;
    right: 10%;
  }
}

.about-me__h1 {
  font-size: 2.6rem;
  letter-spacing: 3px;
  font-weight: 500;
  position: relative;
}

@media (min-width: 768px) {
  .about-me__h1 {
    position: absolute;
    top: 0;
    left: 30%;
    text-align: center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (min-width: 1024px) {
  .about-me__h1 {
    font-size: 3.6rem;
  }
}

.about-me__h1::before {
  content: "";
  position: absolute;
  top: 120%;
  left: -25%;
  height: 3px;
  border-radius: 25px;
  width: 100%;
  background-color: #0d8c5b;
}

.about-me__h1::after {
  content: "";
  position: absolute;
  top: 130%;
  right: -25%;
  width: 100%;
  height: 3px;
  border-radius: 25px;
  background-color: #0d8c5b;
  margin-top: 14px;
}

.about-me__description {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .about-me__description {
    position: absolute;
    top: 0;
    left: 5%;
    margin-top: 100px;
    width: 40%;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .about-me__description {
    width: 50%;
    text-align: center;
    margin-top: 120px;
  }
}

.about-me__bg-header {
  position: absolute;
  top: 88%;
  right: 5%;
  font-size: 6rem;
  font-weight: 800;
  color: #0d8c5b;
  letter-spacing: 3px;
  opacity: 0.1;
}

@media (min-width: 768px) {
  .about-me__bg-header {
    top: 80%;
  }
}

.skills {
  background-color: #646464;
}

.skills__icon {
  width: 150px;
}
/*# sourceMappingURL=main.css.map */