.home {
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
    height: 90vh;
    background-image: url(../img/bg1a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0 25px;


    &__bg-filter {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);

        &--none {
            display: none;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-top: 150px solid $green-color;
            border-right: 250px solid transparent;
            opacity: 0.3;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            height: 0;
            width: 0;
            border-bottom: 150px solid $green-color;
            border-left: 250px solid transparent;
            opacity: 0.3;

        }
    }

    &__welcome {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $primary-font-color;
        min-width: 300px;
        text-shadow: 1px 1px 4px $green-color;
    }

    &__h1 {
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 1.4px;

        &--span {
            color: $green-color;
            font-weight: 600;
            text-shadow: 1px 1px 2px $primary-font-color;
        }
    }

    &__line {
        display: block;
        height: 3px;
        width: auto;
        background-color: $green-color;
        margin-top: 18px;
        margin-left: 30px;
        margin-right: 80px;
        box-shadow: 1px 1px 4px gray;

        &:nth-last-of-type(1) {
            margin: 12px 30px 12px 80px;
        }
    }

    &__p {
        font-size: 1.4rem;

    }
}